<html xmlns="http://www.w3.org/1999/xhtml" style=
"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content=
  "text/html; charset=us-ascii" />

  <title><%= gettext( "Welcome to " ) <> @site_name %></title>
  <style type="text/css">
/*<![CDATA[*/
  img {
  max-width: 100%;
  }
  body {
  -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em;
  }
  body {
  background-color: #f6f6f6;
  }
  @media only screen and (max-width: 640px) {
    body {
      padding: 0 !important;
    }
    h1 {
      font-weight: 800 !important; margin: 20px 0 5px !important;
    }
    h2 {
      font-weight: 800 !important; margin: 20px 0 5px !important;
    }
    h3 {
      font-weight: 800 !important; margin: 20px 0 5px !important;
    }
    h4 {
      font-weight: 800 !important; margin: 20px 0 5px !important;
    }
    h1 {
      font-size: 22px !important;
    }
    h2 {
      font-size: 18px !important;
    }
    h3 {
      font-size: 16px !important;
    }
    .container {
      padding: 0 !important; width: 100% !important;
    }
    .content {
      padding: 0 !important;
    }
    .content-wrap {
      padding: 10px !important;
    }
    .invoice {
      width: 100% !important;
    }
  }
  /*]]>*/
  </style>
  <meta itemprop="name" content="Sign In" style=
  "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;" />
  </head>

<body itemscope="" itemtype="http://schema.org/EmailMessage" style=
"font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;"
bgcolor="#F6F6F6">
  <table class="body-wrap" style=
  "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;"
  bgcolor="#F6F6F6">
    <tr style=
    "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td style=
    "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
      valign="top"></td>

      <td class="container" width="600" style=
      "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;"
      valign="top">
        <div class="content" style=
        "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
        <table class="main" width="100%" cellpadding="0"
        cellspacing="0" itemprop="action" itemscope="" itemtype=
        "http://schema.org/ConfirmAction" style=
        "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;"
          bgcolor="#fff">
            <tr style=
            "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="content-wrap" style=
            "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;"
              valign="top">
                <table width="100%" cellpadding="0" cellspacing="0"
                style=
                "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                <tr style=
                "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                  <td class="content-block" style=
                  "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                    valign="top">
                    <%= gettext( "Bienvenue sur le site du " ) <> @site_name %></td>
                  </tr>

<tr style=
                "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                  <td class="content-block" style=
                  "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                    valign="top">
                    <%= gettext( "Cliquez sur le lien suivant pour vous connecter au site. Attention, il expirera après 1 heure" ) %></td>
                  </tr>


                  <tr style=
                  "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                  <td class="content-block" itemprop="handler"
                  itemscope="" itemtype=
                  "http://schema.org/HttpActionHandler" style=
                  "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                    valign="top"><a href="<%= @url %>"
                    class="btn-primary" itemprop="url" style=
                    "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #348eda; margin: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">
                    <%= gettext "Se connecter" %></a></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <div class="footer" style=
          "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
          </div>
        </div>
      </td>

      <td style=
      "font-family: 'Helvetica Neue',sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
      valign="top"></td>
    </tr>
  </table>
</body>
</html>
