@import "bulma/bulma.sass"

.footnote
    vertical-align: super
    font-size: .5em

h1
    font-size: 3em !important

h2
    font-size: 2em !important

h1, h2, h3, h4
    text-align: center


.no-margin
    margin-bottom: -48px !important
    padding-bottom: 0px

.date
    text-align: center
    font-size: 2em
    font-weight: bold

.center
    text-align: center !important

.hour
    margin-bottom: 0px !important
