doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1" name="viewport"
    meta content="" name="description"
    title Admin - Project Saturn
    link rel="stylesheet" href="#{Routes.static_path(@conn, "/css/app.css")}"

  body
    nav.navbar.is-primary.is-spaced
      .container
        .navbar-brand
          .navbar-item Admin - Project Saturn

    section.section
      .container
        = render @view_module, @view_template, assigns

    script src="#{Routes.static_path(@conn, "/js/app.js")}"
